@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap");

.navigation {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 20px;
  color: black;
  margin-right: 2vw;
  font-family: "Poppins", sans-serif;;
}
.navigation img{
  height:10vh;
}